<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}The Django Poll{% endblock %}</title>
    
<style>
body.first{
  background-image: url("https://wallpapercave.com/wp/wp2857322.jpg");
  /*background-size: cover; 
  background-repeat:  no-repeat;*/
  text-align: center;
  color:black;
  font-size: 16px;
}

p.solid {
  text-align: left;
  color:black;
} 
b.color{
  color:black;
  text-transform: uppercase;
  line-height: 1.8;
}
</style>

</head>

<h1> <p class="solid">Django Poll Application</p></h1>

<body class="first">
    <nav>
        <a href="{% url 'poll:home' %}"><b class="color">Home</b></a>
        <a href="{% url 'poll:teacher' 4 %}"><b class="color">Teacher</b></a>  
    </nav>

    {% block content %}

    {% endblock %}

</body>

</html>
