{% extends "base.html" %}
{% block content %}

<h1>Let's Create A Poll!</h1>

<div>
    <form method="POST" id="create_form">
        {% csrf_token %}
        <label for="question">Question:</label><br>
        <input type="text" id="question" name="question"><br>
        <label for="answer">Answer:</label><br>
        <input type="text" id="firstAnswer" name="answer0"><br>
        <input type="submit" value="Submit">
    </form>
    <button onclick="addAnswer()">Add Answer</button>
    <button onclick="removeAnswer()">Remove Answer</button>
</div>

<script type="text/javascript">
    function addAnswer() {
        let newInput = document.getElementById("create_form");
        let answer = document.querySelectorAll("#answer");
        // let label = document.createElement("label");
        // label.for = "question";
        let input = document.createElement("input");
        input.type = "text";
        input.name = "answer" + (answer.length + 2) / 2;
        input.id = "answer";
        let linebreak = document.createElement("br");
        linebreak.id = "answer";
        // newInput.insertBefore(label, newInput.children[7]);
        newInput.insertBefore(input, newInput.children[8]);
        newInput.insertBefore(linebreak, newInput.children[8]);
        // newInput.appendChild(label);
        // newInput.appendChild(input);

    }

    function removeAnswer() {
        let list = document.querySelectorAll("#answer");
        let length = list.length;

        if (length > 1) {
            list[length - 1].remove();
            list[length - 2].remove();
        }
    }
</script>

{% endblock %}